USERNAME=
#Flask基础配置
FLASK_DEBUG=
FLASK_ENV=

# wft配置
WTF_CSRF_ENABLED=
#SQLAlchemy数据库配置
SQLALCHEMY_DATABASE_URI=
SQLALCHEMY_POOL_SIZE=
SQLALCHEMY_POOL_RECYCLE=
SQLALCHEMY_ECHO=


#OPENAI提供者
OPENAI_API_KEY=
OPENAI_API_BASE=
DEEPSEEK_API_KEY=
DEEPSEEK_API_BASE=

# Weaviate 向量数据库
WEAVIATE_CLUSTER_URL=
WEAVIATE_API_KEY=
