Flask==3.1.1
Flask_Migrate==4.1.0
flask_sqlalchemy==3.1.1
flask_wtf==1.2.2
injector==0.22.0
openai~=1.84.0
python-dotenv==1.1.0
WTForms==3.2.1

Flask-Migrate~=4.1.0
sqlalchemy~=2.0.41
langchain-core~=0.3.65
langchain-openai~=0.3.23
langchain~=0.3.25
requests~=2.32.3
pydantic~=2.11.5
langchain-community~=0.3.25
click~=8.1.8
flask-cors~=6.0.1
alembic~=1.16.1